

.footer{
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
}

.author {
  font-size: 0.7rem;
  color: gray
}

.smallinfo {
  font-size: 0.7rem;
  color: gray
}

#navbarNav {
  display: flex !important;
  justify-content: space-between !important;
}

.searchbar {
  padding: 2rem;
}

.post {
  padding-bottom: 1em;
}

.searchresult {
  border: 3px, solid, black;
  color: gray;
}

.postsFrontPage, .searchresult {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-fluid {
    justify-content: left !important;
}